<div class="navbar fixed-bottom">
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-2x fa-running"></i>
  <% end %>

  <%= link_to trainings_path, class: "nav-link" do %>
    <i class="fas fa-2x fa-list-ul"></i>
  <% end %>

  <%= link_to '#', class: "nav-link" do %>
    <i class="fas fa-2x fa-calendar-plus"></i>
  <% end %>

  <% if current_user %>
    <%= link_to '#', method: :delete, class: "nav-link" do %>
      <i class="fas fa-2x fa-sign-out-alt"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "nav-link" do %>
      <i class="fas fa-2x fa-user"></i>
    <% end %>
  <% end %>
</div>
